@import url('./__item/slider__item.css');
@import url('./__item-container/slider__item-container.css');

.slider {
	display: flex;    
  position: relative;
  max-height: 288px;
  list-style-type: none;
  padding: 0 104px;

}

@media screen and (max-width: 1250px) {
  .slider {
    padding: 0 40px;
  }

  .slider:before {
    display: none;
  }

  .slider:after {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .slider {
    padding: 0 40px;
  }
}


@media screen and (max-width: 485px) {
  .slider {
    padding: 0 16px;
  }
}