@import url('./__item/slider__item.css');
@import url('./__item-container/slider__item-container.css');

.slider {
	display: flex;  
  overflow: hidden;  
  position: relative;
  max-height: 288px;
}

.slider:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 88px;
  height: 100%;
  background: linear-gradient(270deg, rgba(245, 246, 247, 0) 0%, #F5F6F7 100%);
  z-index: 1;
}

.slider:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 88px;
  height: 100%;
  background: linear-gradient(90deg, rgba(245, 246, 247, 0) 0%, #F5F6F7 100%);
  z-index: 1;
}

@media screen and (max-width: 1250px) {
  .slider {
    padding: 0 40px;
  }

  .slider:before {
    display: none;
  }

  .slider:after {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .slider {
    padding: 0 40px;
  }
}


@media screen and (max-width: 485px) {
  .slider {
    padding: 0 16px;
  }
}