.news-card__link {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', 'Roboto', 'Inter', 'Arial Narrow Bold', sans-serif;
    color: #B6BCBF;
    position: absolute;
    left: 24px;
    bottom: 22px;
}


@media screen and (max-width: 1024px) {
    .news-card__link {
        left: 16px;
        bottom: 8px;
    }
}

@media screen and (max-width: 485px) {
    .news-card__link {
        left: 16px;
        bottom: 16px;
    }
}