.search__title {
    font-size: 3.75em;
    line-height: 64px;
    font-weight: normal;
    margin: 0;
    font-family: 'Roboto Slab', 'Roboto', 'Inter', sans-serif;
}

@media screen and (max-width: 1024px) {
    .search__title {        
        max-width: 70%;
        font-size: 36px;
        line-height: 40px;
    }
}

@media screen and (max-width: 485px) {
    .search__title {
        max-width: 80%;
    }
}