.commits__slider-wrapper {    
    margin: 60px 0 0;
}

@media screen and (max-width: 1024px) {
  .commits__slider-wrapper {
    margin: 30px 0 0;
  }
}

@media screen and (max-width: 485px) {
  .commits__slider-wrapper {
    margin: 11px 0 0;
  }
}