.news-card__date {
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    font-family: 'Source Sans Pro', 'Roboto', 'Inter', 'Arial Narrow Bold', sans-serif;
}

@media screen and (max-width: 485px) {
    .news-card__date {
        margin-top: 2px;
    }
}