.news-card__content {
    margin: 16px 24px 59px;
    max-height: 224px;
    overflow: hidden;
    text-overflow: clip ellipsis;
}

@media screen and (max-width: 1024px) {
    .news-card__content {
        margin: 13px 16px 45px;
        max-height: 215px;
    }
}

@media screen and (max-width: 768px) {
    .news-card__content {
        max-height: 203px;
    }
}

@media screen and (max-width: 485px) {
    .news-card__content {
        max-height: 190px;
    }
}