/* @import url('./_active/preloader__container_active.css'); */

.preloader__container {
    display: none;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
}

@media screen and (max-width: 1024px) {
    .preloader__container {
        max-width: 35%;
    }
}

@media screen and (max-width: 768px) {
    .preloader__container {
        max-width: 47%;
    }
}

@media screen and (max-width: 600px) {
    .preloader__container {
        max-width: 50%;
    }
}

@media screen and (max-width: 485px) {
    .preloader__container {
        max-width: 95%;
    }
}
