.slider-card__name {
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    margin: 1px 0 0;
    font-family: 'Roboto Slab', 'Inter', sans-serif;
}

@media screen and (max-width: 1024px) {
    .slider-card__name {
        font-size: 20px;
    }
}