<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Mikhail Kukushkin">
    <meta name="description" content="NewsAnalyzer">
    <link rel="shortcut icon" type="image/x-icon" href="<%=require('../../images/favicon.ico').default%>">
    <title>NewsAnalyzer</title>
    <link rel='stylesheet' href='<%= htmlWebpackPlugin.files.css %>'>
    
    <!--  -->
</head>

<body class="page">
    <header class="header header_theme_black page__section">
        <div class="header__logo">NewsAnalyzer</div>
        <nav class="menu menu_theme_black">            
            <a href="./index.html" class="menu__item menu__item_active">Главная</a>
            <a href="./about.html" class="menu__item">О проекте</a>
        </nav>
    </header>
    <section class="breadcrumbs page__section">
        <nav class="breadcrumbs__container">            
            <a href="./index.html" class="breadcrumbs__item breadcrumbs__item_active">Главная</a>
            <span>/</span>            
            <a href="./analytics.html" class="breadcrumbs__item">Аналитика</a>
        </nav>
    </section>
    <section class="keyword page__section">
        <h2 class="keyword__title">Вы спросили: «Путешествия»</h2>
        <p class="keyword__paragraph">Новостей за неделю:<span class="keyword__number"> 34 324</span>
        </p>
        <p class="keyword__paragraph">Упоминаний в загаловках:<span class="keyword__reference"> 235</span></p>
    </section>
    <section class="analytics page__section">
        <h2 class="analytics__title">Аналитика по дням</h2>
        <article class="analytics__container">
            <p class="analytics__schedule">Дата (август)</p>
            <p class="analytics__schedule">Кол-во упоминаний</p>
            <div class="analytics__charts">
                <span class="analytics__date">19, пн</span>
                <span class="analytics__date">20, вт</span>
                <span class="analytics__date">21, ср</span>
                <span class="analytics__date">22, чт</span>
                <span class="analytics__date">23, пт</span>
                <span class="analytics__date">24, сб</span>
                <span class="analytics__date">25, вс</span>
            </div>
            <div class="analytics__charts">
                <div class="analytics__digits analytics__digits_section_top">
                    <span class="analytics__digit">0</span>
                    <span class="analytics__digit">25</span>
                    <span class="analytics__digit">50</span>
                    <span class="analytics__digit">75</span>
                    <span class="analytics__digit">100</span>
                </div>
                <span class="analytics__percent" style="width: 20%">15</span>
                <span class="analytics__percent" style="width: 27%">18</span>
                <span class="analytics__percent" style="width: 13%">11</span>
                <span class="analytics__percent" style="width: 45%">39</span>
                <span class="analytics__percent" style="width: 55%">45</span>
                <span class="analytics__percent" style="width: 80%">73</span>
                <span class="analytics__percent" style="width: 38%">34</span>
                <div class="analytics__digits analytics__digits_section_bottom">
                    <span class="analytics__digit">0</span>
                    <span class="analytics__digit">25</span>
                    <span class="analytics__digit">50</span>
                    <span class="analytics__digit">75</span>
                    <span class="analytics__digit">100</span>
                </div>
            </div>
        </article>
    </section>
    <footer class="footer page__section">
        <div class="footer__copyright">&copy; 2020 Mikhail Kukushkin</div>
        <ul class="footer__links">
            <li>
                <a href="./index.html" class="footer__link">Главная</a>
            </li>
            <li>
                <a href="./about.html" class="footer__link">О проекте</a>
            </li>
            <li>
                <a href="https://praktikum.yandex.ru/" class="footer__link" target="_blank">Яндекс.Практикум</a>
            </li>
        </ul>
        <ul class="footer__links footer__link-social">
            <li>
                <a href="https://github.com/Mikhailqq" class="footer__link-social footer__link-social_github" target="_blank"></a>
            </li>
            <li>
                <a href="https://www.facebook.com/mikhail.kukushkin.16" class="footer__link-social footer__link-social_facebook" target="_blank"></a>
            </li>
        </ul>
    </footer>
    <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>    
    
</body>

</html>