.keyword__title {
    font-family: 'Roboto Slab', 'Inter', sans-serif;
    font-size: 40px;
    line-height: 46px;
    margin: 0 0 22px;
    max-width: 95%;
}

@media screen and (max-width: 1024px) {
    .keyword__title {
        font-size: 32px;
        line-height: 34px;
        margin: 23px 0 24px;
    }
}

@media screen and (max-width: 485px) {
    .keyword__title {
        font-size: 30px;
        margin: 0 0 13px;
    }
}