.commits__dots {
    margin: 48px auto 0;
    display: flex;
    justify-content: center
}

@media screen and (max-width: 1024px) {
  .commits__dots {
    margin: 32px auto 0;
  }
}

@media screen and (max-width: 485px) {
  .commits__dots {
    margin: 16px auto 0;
  }
}