.commits__button {
	display: none;
  padding: 0 40px;
  margin-top: 24px;
}

@media screen and (max-width: 680px) {
  .commits__button {
    display: block;
  }
}

@media screen and (max-width: 485px) {
  .commits__button {
    margin-top: 22px;
    padding: 0 16px;
  }
}
